In [43]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\lenovo\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\users\lenovo\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\lenovo\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [44]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [45]:
driver=webdriver.Chrome(r"C:\Users\LENOVO\Desktop\Data\chromedriver.exe")

In [46]:
driver.get("https://www.naukri.com/")

In [47]:
dg=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")

In [48]:
dg.send_keys('data analyst')

In [49]:
loc=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")

In [50]:
loc.send_keys('bangalore')

In [51]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")

In [52]:
search.click()

In [54]:
jobtitle=[]
jt=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in jt:
    jobtitle.append(i.text)

In [55]:
jobtitle

['Data Analyst / Senior Analyst - R / SQL / Python',
 'Data Analyst/Senior Analyst - R/SQL/Python',
 'Data Analyst',
 'data analyst / data analytics - US MNC (analytics)',
 'Business Data Analyst (Sr Exe / Asst Manager)',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Staff Data Analyst',
 'Reference Data Analyst',
 'Sr Data Analyst',
 'Job Opportunity with Leading MNC - Senior Data Analyst',
 'Manager/Senior Manager - Data Analyst',
 'Data Analyst (Jr/Sr)',
 'Junior Data Analyst',
 'Data Analyst , Data Analytics',
 'Data Analyst',
 'Manager - Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Immediate Hiring For MIS and Data Analyst',
 'Immediate Hiring For Data Analyst - Technology consultant || Bangalore']

In [56]:
len(jobtitle)

20

In [57]:
jobloc=[]
jl=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in jl:
    jobloc.append(i.text)

In [58]:
jobloc

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Delhi / NCR',
 'Temp. WFH - Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Temp. WFH - Bangalore/Bengaluru, Gurgaon/Gurugram',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, New Delhi, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Ahmedabad, Jaipur, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru']

In [60]:
jobexp=[]
je=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in je:
    jobexp.append(i.text)

In [61]:
jobexp

['3-6 Yrs',
 '3-6 Yrs',
 '2-4 Yrs',
 '3-8 Yrs',
 '3-5 Yrs',
 '0-5 Yrs',
 '10-14 Yrs',
 '6-8 Yrs',
 '6-9 Yrs',
 '5-7 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '0-1 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '7-9 Yrs',
 '1-4 Yrs',
 '1-6 Yrs',
 '5-10 Yrs']

In [64]:
gg=pd.DataFrame({'location':jobloc,'experence':jobexp,'title':jobtitle,})

In [65]:
gg

,location,experence,title
0,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",3-6 Yrs,Data Analyst / Senior Analyst - R / SQL / Python
1,"Temp. WFH - Bangalore/Bengaluru, Kolkata, Mumb...",3-6 Yrs,Data Analyst/Senior Analyst - R/SQL/Python
2,Bangalore/Bengaluru,2-4 Yrs,Data Analyst
3,"Temp. WFH - Bangalore/Bengaluru, Gurgaon/Gurugram",3-8 Yrs,data analyst / data analytics - US MNC (analyt...
4,Bangalore/Bengaluru,3-5 Yrs,Business Data Analyst (Sr Exe / Asst Manager)
5,"Hybrid - Bangalore/Bengaluru, New Delhi, Mumba...",0-5 Yrs,Junior Data Analyst/ Scientist- Fresher Position
6,Bangalore/Bengaluru,10-14 Yrs,Staff Data Analyst
7,Bangalore/Bengaluru,6-8 Yrs,Reference Data Analyst
8,Hybrid - Bangalore/Bengaluru,6-9 Yrs,Sr Data Analyst
9,Bangalore/Bengaluru,5-7 Yrs,Job Opportunity with Leading MNC - Senior Data...
10,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",2-7 Yrs,Manager/Senior Manager - Data Analyst
11,Bangalore/Bengaluru,1-4 Yrs,Data Analyst (Jr/Sr)
12,Bangalore/Bengaluru,0-1 Yrs,Junior Data Analyst
13,Bangalore/Bengaluru,3-8 Yrs,"Data Analyst , Data Analytics"
14,Bangalore/Bengaluru,2-5 Yrs,Data Analyst
15,"Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi /...",3-8 Yrs,Manager - Data Analyst
16,Bangalore/Bengaluru,7-9 Yrs,Data Analyst
17,Bangalore/Bengaluru,1-4 Yrs,Data Analyst
18,Bangalore/Bengaluru,1-6 Yrs,Immediate Hiring For MIS and Data Analyst
19,Hybrid - Bangalore/Bengaluru,5-10 Yrs,Immediate Hiring For Data Analyst - Technology...